.header {
    height: 400px;
    width: 100%;
    text-align: center;
    background-color: rgb(107, 107, 107);
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    margin-top: 120px;
    color: white;
}

@media only screen and (min-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 100px;
        height: 300px;
    }

    .header img {
        width: 200px;
        height: 200px;
    }
    
    .header h2 {
        margin-top: 0px
    }

    .desktop {
        display: flex;
        padding-top: 50px;
    }
}