.nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 120px;
    color: #FFFFFF;
    z-index: 1;
    font-family: 'Bungee', cursive;
    padding: 1.5em;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    background-color: rgb(107, 107, 107);
    display: flex;
    justify-content: space-between;
}
.compose {
  background-color: none;
  color: white;
  border: none;
  cursor: pointer;
  display: contents;
}

/* For the hover over affect on the compose button. Buttom shift left and down arrow appears */
.compose span {
  display: inline-block;
  position: relative;
  transition: 1s;
}

.compose span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1s;
}

.compose:hover span {
  padding-right: 25px;
}

.compose:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (min-width: 1024px) {
  .nav {
    background-color: #4056A1;
    background-image: none;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

}